@CHARSET "utf-8";
@import "variable";
@import "fun";
@import "mixin";
@import "common";

html, body, #app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-family: Arial, "Microsoft YaHei", "微软雅黑", Verdana, sans-serif;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

* > img {
    max-width: 100%;
    max-height: 100%;
}

button {
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left:14px;
    padding-right:14px;
    box-sizing:border-box;
    font-size:18px;
    text-align:center;
    text-decoration:none;
    line-height:2.55555556;
    border-radius:5px;
    -webkit-tap-highlight-color:transparent;
    overflow:hidden;
    color:#000000;
    background-color:#F8F8F8;

    &::after {
        content:" ";
        width:200%;
        height:200%;
        position:absolute;
        top:0;
        left:0;
        border:1px solid rgba(0, 0, 0, 0.2);
        -webkit-transform:scale(0.5);
        transform:scale(0.5);
        -webkit-transform-origin:0 0;
        transform-origin:0 0;
        box-sizing:border-box;
        border-radius:10px;
    }
}

.page {
    @include fullpage;
    background-color: #FFF;
    overflow: hidden;
    &-group {
        @include fullpage;
    }
    &-current {
        z-index: 1;
    }
    main {
        @include fullpage;
        overflow: auto;
    }
}

.mint-header + main {
    top: 40px;
}
