@charset "UTF-8";
@import "fun";
@import "mixin";
@import "variable";

* {
  box-sizing: border-box;
}

.clear {
  display: block !important;
  clear: both !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
